.flex-container { 
display: flex;
justify-content: space-between;

}
.flex-item
{
background-color:grey;
height: 200px;

}
@media (max-width :768px) 
{
  .flex-container { 
    width: 100%;
display: flex;
flex-direction: column;
gap: 20px;

}  
}
    
    

